<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/styles/actuallyTakingQuiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>Document</title>
</head>

<body>
  <%- include('partials/_navbar') %>
    <div class="all-quizzes-container">
      <% for (let obj of questionsObject) { %>
        <div class="submission-question card">
          <div class="card-header">
            <h3>QUESTION <%= obj.id %>
            </h3>
          </div>
          <div class="card-body">
            <p></p>
            <p>
              <%= obj.question %>
            </p>
            <p></p>
          </div>
          <div class="button-grid"></div>
          <button class="testbutton" value="correct_answer">
            <%= obj.correct_answer %>
          </button>
          <button class="testbutton" value="option_1">
            <%= obj.option_1 %>
          </button>
          <button class="testbutton" value="option_2">
            <%= obj.option_2 %>
          </button>
          <button class="testbutton" value="option_3">
            <%= obj.option_3 %>
          </button>
        </div>
        <% } %>
          <form id="quizSubmit">
            <button id="submit">SUBMIT QUIZ</button>
          </form>
          <div id="score"></div>
    </div>


    <%- include('partials/_footer') %>
</body>

</html>