<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/resultsPage.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;1,300;1,400&family=Spicy+Rice&display=swap"
    rel="stylesheet" />
  <title>Create Page</title>
</head>
<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>
<body>
  <%- include('partials/_navbar') %>
    <div class="header">
      <h1>Results</h1>
    </div>
    <h1>CONGRAGULATIONS</h1>
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
    <section class="results-container pyro">

      <div class="results-title"></div>
      </div>
      <div>
        <h1>
          <%= userName %> scored:
        </h1>
      </div>
      <div class="results">
        <%= score %> / <%= number %>
      </div>

      <div class="share">
        <h2>Share your result</h2>
        <input value="link here" type="text" name="share" id="">
      </div>
    </section>
    <%- include('partials/_footer') %>
</body>

</html>
