<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/allquizzes.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/_navbar') %>

    <div class="all-quizzes-container">
    <% for (let quiz of userQuizzes) { %>

      <div class="all-quizzes-grid single-quiz ">
        <form action="/quizzes/quiz/<%= quiz.id %>/takequiz">
          <button><%=TAKE QUIZ %></button>
        </form>

        <p><%= quiz.user_id %></p>
        <p><%=quiz.created_at.toLocaleTimeString()
          %></p>
        <span class="likes-box">
        <button class="button-thumb"><img src="/images/thumbsup.png" alt=""></button>
        <p class="likes-circle"><%=quiz.likes%></p>
      </span>
      <span class="likes-box">

      <p class="likes-circle"><%=quiz.rating%></p>
      </div>


      <% } %>
    </div>


    <%- include('partials/_footer') %>
  </body>
</html>
