<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/styles/quiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <%- include('partials/_navbar') %>

    <div class="all-quizzes-container">
      <div class="single-quiz">
        <div>
          <h1 class="quizTitle" style="font-family: Bradley Hand, cursive;">
            <%= quizName %>
          </h1>
          <div class="questions" style="font-family: Bradley Hand, cursive;">
            <p>
              <%= number %> questions
            </p>
          </div>

          <p style="font-family: Bradley Hand, cursive;">By <%= userName %>
          </p>
        </div>

        <form action="/quizzes/quiz/<%= quiz %>/takequiz">
          <button class="bounce3">TAKE QUIZ</button>
        </form>
      </div>
    </div>
    <%- include('partials/_footer') %>
</body>

</html>
